body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar contenthead'
        'sidebar content';
    grid-template-columns: 200px auto;
    /* height: 100vh; */
}

.categories {
    /* background: rgb(228, 228, 228); */
    /* background-color: yellow; */
    grid-area: sidebar;
    height: 100vh;
    margin: 20px auto 0px auto;
}

.main {
    background: rgb(235, 235, 235);
    /* background-color: yellow; */
    /* display: flex; */
    grid-area: content;
    height: 100vh;
}

.taskDataTable {
    grid-area: content;
}

table {
    width: 90%;
    text-align: center;
    /* background: orange; */
    border-collapse: collapse;
    margin: 20px auto 0 auto;
}

.main-header {
    grid-area: contenthead;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background: rgba(248, 248, 248, 0.8);
    height: 150px;
    width: 100%;
    /* margin: 0; */
    /* padding: 0 10px 0 10px; */
    text-align: right;
    /* border-radius: 5px; */
}

#table-header-content {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 15px auto 0 auto;
}

td {
    height: 50px;
    /* border-bottom: 1px solid black; */
    padding: 0 5px 0 5px;
}

table tr:hover td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* background: rgba(206, 206, 206, 0.164); */
}

table tr:hover td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* background: rgba(206, 206, 206, 0.164); */
}

table tr:hover {
    background: rgba(206, 206, 206, 0.288);
}

table tr {
    padding: 5px;
    /* align-items: center; */
}

.header {
    grid-area: header;
    background: maroon;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
}

#taskForm, #task-detail-pane {
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    /* margin-top: 40px; */
    border-left: 1px solid rgba(194, 194, 194, 0.8);
    text-align: center;
}

#taskForm.hidden, #task-detail-pane.hidden {
    transform: translate3d(100vw, 0, 0);
    /* background: blue; */
}

#taskForm.show, #task-detail-pane.show {
    overflow: hidden;
    transform: translate3d(70vw, 0, 0);
}

/* #task-detail-pane {
    position: fixed;
    background-color: purple;
    width: 35vw;
    height: 100vh;
    left: 0;
    top: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
} */

/* #task-detail-pane.hidden {
    transform: translate3d(100vw, 0, 0);
} */

/* #task-detail-pane.show {
    overflow: hidden;
    transform: translate3d(65vw, 0, 0);
} */

input[type=text] {
    width: 100%;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px rgb(225, 225, 225) solid;
}

input[type=text]:active {
    border-bottom: 2px rgb(172, 1, 1) solid;
}

input[type=text]:focus {
    outline:none;
    border-bottom: 2px rgb(172, 1, 1) solid;
}

form input {
    margin: 15px 0 0 0;
}

form button {
    margin-top: 30px;
}

form {
    /* background: blue; */
    width: 80%;
    text-align: left;
    margin: 20px auto 0px auto;
}

.priority-radio {
    display: flex;
}

label {
    margin-right: 25px;
    /* margin-top: 5px; */
}

/* form input[type=radio] { */
    /* border-radius: 10px; */
/* } */

select {
    margin: 15px 0 0 0;
}

.priority-button {
    background: white;
    width: 50px;
    height: 50%;
    /* background: none; */
    /* border: none; */
    border-radius: 5px;
    /* font-weight: bold; */
}

/* .completed-checkbox { */
    /* width: 100px; */
    /* height: 100px; */
    /* border-radius: 20px; */
    /* background: blue; */
/* } */

/* .formField {
    display: flex;
} */

.deleteTask {
    width: 40px;
}

.categories button {
    display: flex;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-top: 7px;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: left;
    border: none;
    font-size: 14px;
}

.categories button:hover {
    background: lightgrey;
}

.categories button.active {
    background: lightgrey;
    border: 1px solid rgb(196, 196, 196);
}

#addTaskButton {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    background: white;
    margin-left: 15px;
    /* vertical-align: bottom; */
    color: maroon;
    border: 5px solid maroon;
}

#addTaskButton:hover {
    background: maroon;
    color: white;
}

i.material-icons {
    color: maroon;
    /* font-size: 24px !important; */
    vertical-align:middle;
}

.testLabels {
    display: flex;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

/* #test1 {
    background: blue;
    height: 100px;
    border-bottom: 1px solid blue;
}

#test2 {
    background: purple;
} */

/* .completed-checkbox {
    opacity: 0;
    height: 0;
    width: 0;
} */

/* .TestCheck .completed-checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid black;
    background: transparent;
} */

/* .TestCheck .completed-checkbox-custom:checked {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border-width: 0 3px 3px 0;
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    border: 10px solid blue;
} */

/* #detail-row {
    display: flex;
    justify-content: space-around;
} */

/* .TestCheck {
    display: block;
    position: relative;
} */